{% extends "layout.html.twig" %}

{% block title %}Platforms{% endblock %}

{% block breadcrumb %}Platforms{% endblock %}

{% block body %}
<a href="{{ path_for('platformsNew') }}" class="btn btn-primary">Create a new platform</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Subdomain</th>
        <th>Plan</th>
        <th>End date</th>
        <th>Max users</th>
        <th>Max disk space</th>
        <th>Contact name</th>
        <th>Contact phone</th>
        <th>Contact email</th>
    </tr>
    {% for platform in platforms %}
    <tr>
        <td>
            {{platform.name}}
        </td>
        <td>
            {{platform.subdomain}}
        </td>
        <td>
            {{platform.plan}}
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ path_for('platformsNew') }}" class="btn btn-primary">Create a new platform</a>
{% endblock %}
